.title {
    font-family: "Brush Script MT", cursive;
    color:#e55743;
    font-size: 20px;
    font-weight: bold;
    text-align: center; /* Agregado para centrar el texto */
    flex: 1; /* Ocupa espacio restante */
  }